<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <button draggable [dragData]="cardViewComponent" class="spacer-left" mat-raised-button color="accent">CardView</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>canvas2</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div droppable (onDrop)="setCorrectComponent($event)" class="spacer-left spacer-top" style="border: dotted orange; width: 300px; height: 300px;">
      <ng-container *ngComponentOutlet='component'></ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
